{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="col-6 offset-3 card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label }}:{{ field|add_class:'form-control' }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-info w-100">Save</button>
            </form>
    </div>

{% endblock %}
